<% @posts.each do |post| %>
  <div class="link row clearfix">
     <h2>
       <small class="author"><%= post.user.email %></small>
       <br>
       <%= link_to post.content, post %><br>
       <% if post.attachment.present? %>
        <div class='img'>
         <%= image_tag post.attachment %>
       </div>
      <% end %>

     </h2>
     <div class= "btn-group pull-right">
    <%=link_to "like", like_post_path(@post.user_id,@post), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-up"></span>
        Upvote
        <%= @post.get_upvotes.size %>
    <% end %>
    <%= link_to "dislike", dislike_post_path(@post.user_id,@post), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-down">
        Downvote
        <%= @post.get_downvotes.size %>
    <% end %>
 </div>

  </div>
<% end %>
